body>div {
    height: 50px;
    width: 20%;
    box-shadow: 0px 0px 20px #00000050;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    margin-bottom: 20px;
}
body {
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    flex-direction: column;
}
body>div>img {
    height: 60%;
    margin-left: 50px;
}
body>div>svg {
    height: 60%;
    margin-left: 50px;
}
body>div>a {
    color: black;
    text-decoration: none;
    margin-right: 50px;
}
.fb {
    background-color: #4267B2;
}
h1 {
    color: black;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 100px;
}
@media only screen and (max-width: 1000px) {
    body>div {
        width: 90%;
    }
}