body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat';
}

header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 20px #00000050;
    position: fixed;
    z-index: 10;
}

.logo {
    height: 40px;
}

.menu {
    height: 15px;
}

main>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 10vh;
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main>div>div>div {
    display: flex;
}

main>div>div>div>div {
    height: 40px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 20px;
}

main>div>div>div>div>a {
    text-decoration: none;
    color: black;
}

main>div>div>a {
    text-decoration: none;
    color: black;
}

main>div>div>div>a {
    text-decoration: none;
    color: black;
}

.language>div {
    height: 40px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 20px;
}

.language>div>a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.language>div>a>img {
    height: 15px;
    margin: 5px;
}

.active {
    background-color: #FF8F85;
}

.logout>a {
    height: 40px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 20vh;
}

.socky {
    display: flex;
    flex-direction: column;
}

.socky>a {
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
}

.soc {
    margin-bottom: 50px;
    text-decoration: none;
    color: black;
}

.socky>a>svg {
    height: 20px;
    fill: white;
}

.fb {
    background-color: #4267B2;
}

.ig {
    background: linear-gradient(to right, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
}

.wa {
    background-color: #25D366;
}

.tw {
    background-color: #1DA1F2;
}

.social {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 400px) {
    main>div>div>div {
        flex-direction: column;
    }

    main {
        margin-top: 30vh;
    }
}

@media only screen and (max-width: 1400px) {
    main {
        flex-direction: column;
        margin-top: 20vh;
    }

    .social {
        margin-top: 5vh;
    }
}

@media only screen and (max-width: 650px) {
    .socky>a {
        width: 100%;
    }
}